@media only screen and (max-width: 500px){ 
    body{
        background-color: yellow;
    }
    .container1 img{
        width : 3.5vh;
        height : 2.1vh;
        margin : 0.5vh;
        overflow : scroll;
    }
    .kaido h5{
        font-size : 1vh;
        color: black;
    }
    .kaido h3{
        font-size : 1.3vh;
        color: black;
    }
    .kaido{
        position: relative;
        top : -10px;
    }
    .search input {
        width: 27vw;
        height: 5vh;
        border-radius: 3px;
        border: 1px solid black;
        align-items: center;
        position: relative;
        top: 10px;
      }
    .search img{
        width: 0.5px;
        height: 0.5px;
      }
    .container3{
        display: flex;
        height : 1.5vh;
        width : 100vw;
        align-items: center;
        justify-content:center;
        background-color: #007185;
        font-size: 7px;
    }
    .itemtype2{
        display: flex;
        flex-direction: row;
        background-color: white;
        row-gap: 2.5px;
        padding : 0.5vh 0px 0px 0px;
        overflow: scroll;
    }
    .cardtype2 img{
        height:16vh;
        width : 9vw;
        padding : 0 2vh 0 0 ;
    }
    .heading h2{
        font-size : 1.5vh;
        color: black;
    }
    .itemtype1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: white;
        row-gap: 3px;
        padding : 1px 1px 12px 1px;
        
    }
    .card1{
        width : 13vw;
        height : 15vh;
        padding : 5px 63px;
    }
    .card1 img{
        height:14vh;
        width : 12vw;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav ul li {
        list-style: none;
        padding : 0.4vw;
    }
    nav ul li a{
        color : white;
        text-decoration: none;
        font-family: Arial ,'Lato', sans-serif;
    }
    nav ul li a:hover{
        text-decoration: none;
        font-weight: bold;
        font-family: Arial ,'Lato', sans-serif;
    }
}